* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f9d469;
}

header {
    margin: 1% 10%;
    padding: 20px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

header h4 {
    height: 50px;
    width: 200px;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}


.container {
    height: 500px;
    margin: 2% 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: white;
    border-radius: 90px;
    box-shadow: 1px 1px 14px grey;
}

.container h1 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.container p {
    margin: 0 40px;
    text-align: center;
}

.container button {
    font-size: 20px;
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 8px;
    box-shadow: 1px 1px 8px grey;
    background-color: #09ff82;
    color: white;
}
