@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #ffda33;
}

header {
  margin: 3% 3%;
  padding: 0 10%;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
}

header h4 {
  height: 3rem;
  width: 15rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.highscores:hover {
  background-color: #09ff82;
  box-shadow: 1px 1px 8px grey;
}

.container {
  height: 565px;
  width: 600px;
  margin: 2% auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: white;
  border-radius: 90px;
  box-shadow: 1px 1px 14px grey;
}

h1 {
  margin: 5% 10% 0 5%;
  padding-top: 5%;
  padding-left: 9%;
  font-size: 2rem;
  font-family: "Lobster", cursive;
}

.insHeader {
  margin: 8% auto;
  font-size: 1.4rem;
}

.ins {
  margin: 0 10%;
  text-align: justify;
  font-size: 1.2rem;
}

li {
  margin: 0 auto;
  text-align: justify;
  list-style-type: none;
}

ol {
  text-align: justify;
  list-style-type: none;
}

.g-luck {
  margin-top: 10%;
  font-size: 1.4rem;
}

.button {
  font-size: 20px;
  height: 4vh;
  width: 20vh;
  margin: auto;
  border: none;
  border-radius: 8px;
  box-shadow: 1px 1px 8px grey;
  background-color: #09ff82;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  font-size: 21px;
  box-shadow: 1px 1px 12px grey;
}

.answerButtons {
  font-size: 20px;
  font-family: "Lobster", cursive;
  height: 40px;
  width: 400px;
  border: none;
  border-radius: 8px;
  box-shadow: 1px 1px 8px grey;
  background-color: #09ff82;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  /* Adjusted the answers */
  padding-left: 7%;
}

.answerButtons:hover {
  font-size: 21px;
  box-shadow: 1px 1px 12px grey;
}

.affirmation {
  font-size: 22px;
  font-family: "Lobster", cursive;
  padding-bottom: 10%;
}


@media (max-width: 768px) {
  header {
    margin: 10% 5%;
    font-size: 0.8rem;
  }

  header h4 {
    height: 40px;
    width: 50%;
  }

  .container {
    width: 75%;
    margin: 0 auto;
  }

  h1 {
    margin: 5% 10% 0 5%;
    padding-top: 5%;
    padding-left: 9%;
    font-size: 1.8em;
  }

  .insHeader {
    margin: 6% auto;
    font-size: 1rem;
  }

  .ins {
    margin: 5%;
    font-size: 1.1rem;
  }

  .g-luck {
    margin: 5%;
    font-size: 1.1rem;
  }

  .button {
    font-size: 1.4rem;
    width: 20vh;
    margin: 0 auto 10% auto;
  }

  .button:hover {
    font-size: 1.4rem;
    box-shadow: 1px 1px 12px grey;
  }

  .answerButtons {
    font-size: 1.2rem;
    font-family: "Lobster", cursive;
    height: 5vh;
    width: 35vh;
    /* Adjusted the answers */
    padding-left: 5%;
  }

  .answerButtons:hover {
    font-size: 1.4rem;
    box-shadow: 1px 1px 12px grey;
  }
}

@media (max-width: 600px) {
  header {
    margin: 10% 5%;
    font-size: 0.6rem;
  }

  header h4 {
    height: 40px;
    width: 50%;
  }

  .container {
    width: 75%;
    margin: 0 auto;
  }

  h1 {
    margin: 6%;
    font-size: 1.5em;
    font-family: "Lobster", cursive;
  }

  .insHeader {
    margin: 6% auto;
    font-size: 1rem;
  }

  .ins {
    margin: 5%;
    font-size: 1.1rem;
  }

  .g-luck {
    margin: 5%;
    font-size: 1.1rem;
  }

  .button {
    font-size: 1.4rem;
    width: 20vh;
    margin: 0 auto 10% auto;
  }

  .button:hover {
    font-size: 1.4rem;
    box-shadow: 1px 1px 12px grey;
  }

  .answerButtons {
    font-size: 1.1rem;
    font-family: "Lobster", cursive;
    height: 5vh;
    width: 28vh;
    /* Adjusted the answers */
    padding-left: 5%;
  }

  .answerButtons:hover {
    font-size: 1.4rem;
    box-shadow: 1px 1px 12px grey;
  }
}

@media (max-width: 448px) {
  header {
    margin: 10% 5%;
    font-size: 0.5rem;
  }

  header h4 {
    height: 40px;
    width: 50%;
  }

  .container {
    height: 20%;
    width: 85%;
    margin: 0 auto;
  }

  h1 {
    margin: 6% auto;
    font-size: 1.3rem;
    font-family: "Lobster", cursive;
  }

  .insHeader {
    margin: 6% auto;
    font-size: 1rem;
  }

  .ins {
    margin: 5%;
    font-size: 0.9rem;
  }

  .g-luck {
    margin: 5%;
    font-size: 1.1rem;
  }

  .button {
    font-size: 1.4rem;
    height: 4vh;
    width: 20vh;
    margin: 0 auto 10% auto;
  }

  .button:hover {
    font-size: 1.4rem;
    box-shadow: 1px 1px 12px grey;
  }

  .answerButtons {
    font-size: 1rem;
    font-family: "Lobster", cursive;
    height: 4vh;
    width: 28vh;
    /* Adjusted the answers */
    padding-left: 5%;
  }

  .answerButtons:hover {
    font-size: 1.4rem;
    box-shadow: 1px 1px 12px grey;
  }
}
